@charset "UTF-8"; // För att kunna använda tecken som "åäö"
@import "reset";

#wrapper {
  margin: 0 auto; // auto för centrering
  max-width: 800px;
  width: 100%;
}

#slider {
	position: relative; // För att styra positionering av #slider-controls

	ul {
		list-style: none;

		li {
			width: 100%;

			&.absolute {
				position: absolute;
				top: 0;
			}

			img {
				height: auto; // Gör bilderna responsiva
				max-width: 100%; // Gör bilderna responsiva
			}
		}
	}

	#slider-controls {
		bottom: 0;
		height: 60px;
		padding: 10px;
		position: absolute;

		#prev, #next {
			background: white;
			cursor: pointer;
			float: left;
			font-size: 20px;
			height: 40px;
			line-height: 40px;
			margin-right: 10px;
			text-align: center;
			width: 40px;
		}
	}
}